<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--全局配置-->
  <BasicPictureSetting>
    <DistributedUpload>
      <Source>zixun</Source>
      <Key>305c300d06092a864886f70d0101010500034b003048024100935d64bda0d995ac3075328f5ed1af937cdd8bb9c88f669720789bbac72bcbfe611876e5fe64f34108541fe21fc78b68de4fb417fb9447791dc4b5a9df1d0daf0203010001</Key>
      <Minutes></Minutes>
      <GetTokenUrl>http://baseup.afs.bj.autohome.com.cn/service/get/token</GetTokenUrl>
      <SaveFileUrl>http://baseup.afs.bj.autohome.com.cn/service/fastUpSlave</SaveFileUrl>
      <CheckTokenUrl>http://baseup.afs.bj.autohome.com.cn/service/search/token</CheckTokenUrl>
    </DistributedUpload>
    <DefaultUpload Text="传统上传">
      <ServerAddress>D:\</ServerAddress>
      <!--<ServerAddress>\\10.168.100.86\img.autohome.com.cn\</ServerAddress>-->
    </DefaultUpload>
    <!--图片预览域名网址头-->
    <PreviewHost>http://www0.autoimg.cn</PreviewHost>
    <IsDefaultUpload>false</IsDefaultUpload>
    <IsDistributedUpload>true</IsDistributedUpload>
    <IsGenerate>false</IsGenerate>
    <!--二级目录参数-->
    <FormatFolder></FormatFolder>
    <!--上传格式-->
    <Format>.jpg,.gif,.jpeg,.png</Format>
    <!--文件名前缀-->
    <Prefix></Prefix>
    <!--文件命名规则-->
    <FormatFileName>$Year0$Month0$Day0$Hour0$Minute0$Second$Milliseconds</FormatFileName>
    <!--上传文件大小 0-无限 单位：KB-->
    <MaxSize>0</MaxSize>
    <!--水印文字-->
    <WaterMarkFont>汽车之家</WaterMarkFont>
    <!--图片生成质量-->
    <Quality>90</Quality>
  </BasicPictureSetting>

  <!--图片配置-->
  <UploadPictureSetting>
    <!--临时图片上传-->
    <OrigGif Text="Gif原图无水印" ItemType="1" Alt="生成：gif原图无水印">
      <Picture Width="-1" Prefix="" WaterMarkFont="" Quality="100" IsGif="true" InsertDataSize="true" IsGenerate="true" />
    </OrigGif>
    <Orig Text="原图无水印" ItemType="1" Alt="生成：有水印原图、无水印原图">
      <Picture Width="-1" Prefix="" WaterMarkFont="" Quality="100" InsertDataSize="true" DataMaxSize="1" IsGenerate="true"/>
      <Picture Width="1" Prefix="0x0_0_" Quality="100"/>
    </Orig>
    <OrigWater Text="原图有水印" ItemType="1" Alt="生成：有水印原图、无水印原图">
      <Picture Width="-1" Prefix="" WaterMarkFont="" Quality="100" IsGenerate="true"/>
      <Picture Width="1" Prefix="" Quality="100" InsertDataSize="true" DataMaxSize="1" />
    </OrigWater>
    <Pic620Water Text="620有水印" ItemType="1" Alt="生成：有水印原图、无水印原图、620有水印">
      <Picture Width="-1" Prefix="" WaterMarkFont="" Quality="100" IsGenerate="true"/>
      <Picture Width="620"  Prefix="620x0_1_" InsertDataSize="true" AKey="true" DataMaxSize="-1" />
    </Pic620Water>
    <Pic620 Text="620无水印" ItemType="1" Alt="生成：有水印原图、无水印原图、620无水印">
      <Picture Width="-1" Prefix="" WaterMarkFont="" Quality="100" IsGenerate="true"/>
      <Picture Width="-620"  Prefix="620x0_0_"  WaterMarkFont="" InsertDataSize="true" AKey="true" DataMaxSize="-1" />
    </Pic620>
    <Pic500Water Text="500有水印" ItemType="1" Alt="生成：有水印原图、无水印原图、500有水印">
      <Picture Width="-1" Prefix="" WaterMarkFont="" Quality="100" IsGenerate="true"/>
      <Picture Width="500" InsertDataSize="true" AKey="true" DataMaxSize="-1" />
    </Pic500Water>
    <Pic500 Text="500无水印" ItemType="1" Alt="生成：有水印原图、无水印原图、500无水印">
      <Picture Width="-1" Prefix="" WaterMarkFont="" Quality="100" IsGenerate="true"/>
      <Picture Width="-500"  Prefix="500x0_1_"  WaterMarkFont="" InsertDataSize="true" AKey="true" DataMaxSize="-1" />
    </Pic500>
    <Pic400 Text="400" ItemType="1" Alt="生成：有水印原图、无水印原图、400">
      <Picture Width="-1" Prefix="" WaterMarkFont="" Quality="100" IsGenerate="true"/>
      <Picture Width="-400" Prefix="400x0_1_" InsertDataSize="true" DataMaxSize="-1" />
    </Pic400>
    <Pic368 Text="368" ItemType="1" Alt="生成：有水印原图、无水印原图、368">
      <Picture Width="-1" Prefix="" WaterMarkFont="" Quality="100" IsGenerate="true"/>
      <Picture Width="-368" Prefix="368x0_1_" InsertDataSize="true" DataMaxSize="-1" />
    </Pic368>
    <Pic300 Text="300" ItemType="1" Alt="生成：有水印原图、无水印原图、300无水印、620无水印">
      <Picture Width="-1" Prefix="" WaterMarkFont="" Quality="100" IsGenerate="true"/>
      <Picture Width="-300"  Prefix="300x0_0_" WaterMarkFont="" InsertDataSize="true" DataMaxSize="-1" />
    </Pic300>
    <Pic240 Text="240" ItemType="1" Alt="生成：有水印原图、无水印原图、240无水印">
      <Picture Width="-1" Prefix="" WaterMarkFont="" Quality="100" IsGenerate="true"/>
      <Picture Width="-240" Prefix="240x0_0_" WaterMarkFont="" InsertDataSize="true" DataMaxSize="-1" />
    </Pic240>
    <Pic166 Text="166" ItemType="1" Alt="生成：有水印原图、无水印原图、166无水印">
      <Picture Width="-1" Prefix="" WaterMarkFont="" Quality="100" IsGenerate="true"/>
      <Picture Width="-166" WaterMarkFont="166x0_0_" InsertDataSize="true" DataMaxSize="-1"/>
    </Pic166>
    <Pic164 Text="164" ItemType="1" Alt="生成：有水印原图、无水印原图、164无水印">
      <Picture Width="-1" Prefix="" WaterMarkFont="" Quality="100" IsGenerate="true"/>
      <Picture Width="-164" Prefix="164x0_0_" WaterMarkFont="" InsertDataSize="true" DataMaxSize="-1"/>
    </Pic164>
    <Pic120 Text="120" ItemType="1" Alt="生成：有水印原图、无水印原图、120无水印">
      <Picture Width="-1" Prefix="" WaterMarkFont="" Quality="100" IsGenerate="true"/>
      <Picture Width="-120" Prefix="120x0_0_" WaterMarkFont="" InsertDataSize="true" DataMaxSize="-1"/>
    </Pic120>
    <Pic60 Text="60" ItemType="1" Alt="生成：有水印原图、无水印原图、60无水印">
      <Picture Width="-1" Prefix="" WaterMarkFont="" Quality="100" IsGenerate="true"/>
      <Picture Width="-60"  Prefix="60x0_0_"  WaterMarkFont="" InsertDataSize="true" DataMaxSize="-1"/>
    </Pic60>

    <!--读图组合图片配置-->
    <Dutu500 Text="读图模式500" ItemType="1" Alt="生成：有水印原图、无水印原图、800、620、500、320、194、120">
      <Picture Width="-1" Prefix="" WaterMarkFont="" Quality="100" IsGenerate="true"/>
      <Picture Width="1" Prefix="" Quality="100"/>
      <Picture Width="-800" WaterMarkFont=""/>
      <Picture Width="800"/>
      <Picture Width="-620" WaterMarkFont=""/>
      <Picture Width="620"/>
      <Picture Width="-500" WaterMarkFont=""/>
      <Picture Width="500" InsertDataSize="true" DataMaxSize="1" AKey="true"/>
      <Picture Width="-320" WaterMarkFont=""/>
      <Picture Width="-194" Height="146" WaterMarkFont="" IsCompute="true"/>
      <Picture Width="-120" Height="90" WaterMarkFont="" IsCompute="true"/>
    </Dutu500>
    <!--读图组合图片配置-->
    <Dutu620 Text="读图模式620" ItemType="1" Alt="生成：有水印原图、无水印原图、800、620、500、320、194、120">
      <Picture Width="-1" Prefix="" WaterMarkFont="" Quality="100" IsGenerate="true"/>
      <Picture Width="1" Prefix="" Quality="100"/>
      <Picture Width="-800" WaterMarkFont=""/>
      <Picture Width="800"/>
      <Picture Width="-620" WaterMarkFont=""/>
      <Picture Width="620" InsertDataSize="true" DataMaxSize="1" AKey="true"/>
      <Picture Width="-500" WaterMarkFont=""/>
      <Picture Width="500"/>
      <Picture Width="-320" WaterMarkFont=""/>
      <Picture Width="-194" Height="146" WaterMarkFont="" IsCompute="true"/>
      <Picture Width="-120" Height="90" WaterMarkFont="" IsCompute="true"/>
    </Dutu620>

    <ArticlePic Text="文章代表图" Format=".jpg" LimitWidth="400" LimitHeight="300" MaxSize="50" Alt="生成：无水印（400、240、160、120、80）">
      <Picture Width="-1" Prefix="" WaterMarkFont="" Quality="100" IsGenerate="true"/>
      <Picture Width="-400" Prefix="400x300_0_" Height="300" WaterMarkFont=""/>
    </ArticlePic>
    <ArticleMarketFocus Text="行情焦点图" LimitWidth="640" LimitHeight="320" Alt="生成：无水印（640）">
      <Picture Width="-1" Prefix="" WaterMarkFont="" Quality="100" IsGenerate="true"/>
      <Picture Width="-368" Prefix="368x184_0_" Height="184" WaterMarkFont=""/>
    </ArticleMarketFocus>
    <FocusPicture Text="焦点图图片" Format=".jpg" LimitWidth="1280" LimitHeight="640" MaxSize="525" Alt="生成：无水印（640）">
      <Picture Width="-1" Prefix="" WaterMarkFont="" Quality="100" IsGenerate="true"/>
      <Picture Width="-368" Prefix="368x184_0_" Height="184" WaterMarkFont=""/>
    </FocusPicture>
    <FocusPictureOrig Text="焦点图图片" Alt="生成：无水印原图">
      <Picture Width="-1" Prefix="" WaterMarkFont="" Quality="100" IsGenerate="true"/>
    </FocusPictureOrig>
    <!--iPad组合图片配置-->
    <IPad Text="iPad" ItemType="2" Format=".jpg" LimitWidth="768" LimitHeight="1024" MaxSize="184" Alt="生成：无水印（768、384）">
      <Picture Width="-1" Prefix="" WaterMarkFont="" Quality="100" IsGenerate="true"/>
      <Picture Width="-768" WaterMarkFont="" />
      <Picture Width="-384" WaterMarkFont="" />
    </IPad>
    <AssoiateWordTopPic Text="关联词头图" Format=".jpg" LimitWidth="960" LimitHeight="200" Alt="生成：无水印（960）">
      <Picture Width="-1" Prefix="" WaterMarkFont="" Quality="100" IsGenerate="true"/>
      <Picture Width="-960" Prefix="960x200_0_" Height="200" WaterMarkFont=""/>
    </AssoiateWordTopPic>
    <AssoiateWordRecommendPic Text="关联词推荐图" LimitWidth="140" LimitHeight="80" Format=".jpg"  Alt="生成：无水印（140）">
      <Picture Width="-1" Prefix="" WaterMarkFont="" Quality="100" IsGenerate="true"/>
      <Picture Width="-140" Prefix="140x80_0_" Height="80" WaterMarkFont=""/>
    </AssoiateWordRecommendPic>
    <!--文章精选2015-9-18确定已经不用了[消息来着钉钉-范鑫] -->
    <!-- 
    <ArticleFine Text="精选文章封面图" LimitWidth="220" LimitHeight="165"  Format=".jpg" Alt="生成：无水印（305）">
      <Picture Width="-1" Prefix="" WaterMarkFont="" Quality="100" IsGenerate="true"/>
      <Picture Width="-220" Height="165" WaterMarkFont=""/>
    </ArticleFine>-->
    <!--移动App图片-->
    <AppIcon Text="移动App图片Icon" Format=".jpg,.gif,.jpeg,.png" Alt="生成：无水印（81）">
      <Picture Width="-1" Prefix="" WaterMarkFont="" Quality="100" IsGenerate="true"/>
      <Picture Width="-81" Height="81" WaterMarkFont=""/>
    </AppIcon>
    <AppPic Text="移动App大图" Format=".jpg,.gif,.jpeg,.png" Alt="生成：无水印（1900）">
      <Picture Width="-1" Prefix="" WaterMarkFont="" Quality="100" IsGenerate="true"/>
      <Picture Width="-1900" Height="379" WaterMarkFont=""/>
    </AppPic>
    <AppSPic Text="移动App小图" Format=".jpg,.gif,.jpeg,.png" Alt="生成：无水印（213）">
      <Picture Width="-1" Prefix="" WaterMarkFont="" Quality="100" IsGenerate="true"/>
      <Picture Width="-213" Height="86" WaterMarkFont=""/>
    </AppSPic>
    <EditBlog Text="编辑博客头像" FormatFolder=""  Format=".jpg,.gif,.jpeg,.png" Alt="生成：无水印（150）">
      <Picture Width="-1" Prefix="" WaterMarkFont="" Quality="100" IsGenerate="true"/>
      <Picture Width="-40"  Prefix="40x0_0_" Height="53" WaterMarkFont=""/>
    </EditBlog>
    <!-- 视频 -->
    <AutoVideoDetail LimitWidth="690" LimitHeight="90" Text="视频(视频最终页，视频专题列表)" Format=".jpg,.gif,.jpeg,.png" Alt="生成：无水印（150）">
      <Picture Width="-1" Prefix="" WaterMarkFont="" Quality="100" IsGenerate="true"/>
      <Picture Width="-690" Prefix="690x90_0_" Height="90" WaterMarkFont=""/>
    </AutoVideoDetail>
    <!--新上市车图片-->
    <NewBrand Text="新上市车图片" LimitWidth="4" LimitHeight="3" IsProportion="true" Format=".jpg,.gif,.jpeg,.png" Alt="生成：无水印（400、240、160、120、80）">
      <Picture Width="-1" Prefix="" WaterMarkFont="" Quality="100" IsGenerate="true"/>
      <Picture Width="-400" Prefix="400x300_0_" Height="300" WaterMarkFont=""/>
    </NewBrand>
    <!--视频导图-->
    <Video300 Text="视频图片" LimitWidth="400" LimitHeight="300" FormatFolder="" Alt="生成：无水印（400）">
      <Picture Width="-1" Prefix="" WaterMarkFont="" Quality="100" IsGenerate="true"/>
      <Picture Width="-120"  Prefix="120x90_0_" Height="90" WaterMarkFont=""/>
    </Video300>
    <Video225 Text="视频图片" LimitWidth="400" LimitHeight="225" FormatFolder="" Alt="生成：无水印（400）">
      <Picture Width="-1" Prefix="" WaterMarkFont="" Quality="100" IsGenerate="true"/>
      <Picture Width="-160"  Prefix="160x90_0_" Height="90" WaterMarkFont=""/>
    </Video225>
    <Video490 Text="视频图片" LimitWidth="490" LimitHeight="276" FormatFolder="" Alt="生成：无水印（400）">
      <Picture Width="-1" Prefix="" WaterMarkFont="" Quality="100" IsGenerate="true"/>
      <Picture Width="-160"  Prefix="160x90_0_" Height="90" WaterMarkFont=""/>
    </Video490>
    <Video1138 Text="视频图片" LimitWidth="1138" LimitHeight="640" FormatFolder="" Alt="生成：无水印（1138）">
      <Picture Width="-1" Prefix="" WaterMarkFont="" Quality="100" IsGenerate="true"/>      
      <Picture Width="-200" Prefix="200x112_0_" Height="112" WaterMarkFont=""/>
    </Video1138>
    <ManualPicture Text="定时手动图片"  Alt="生成：无水印（640）">
      <Picture Width="-1" Prefix="" WaterMarkFont="" IsGif="true" Quality="100" IsGenerate="true"/>
    </ManualPicture>
    <Blog660 Text="专栏焦点图" Format=".jpg" LimitWidth="660" LimitHeight="330" MaxSize="150" FormatFolder=""  Alt="生成：无水印">
      <Picture Width="-1" Prefix="" WaterMarkFont="" Quality="100" IsGenerate="true"/>
      <Picture Width="-660" Height="330" WaterMarkFont=""/>
    </Blog660>
    <BlogAd2 Text="专栏公告2" Format=".jpg" LimitWidth="290" LimitHeight="140" MaxSize="50"  FormatFolder=""  Alt="生成：无水印">
      <Picture Width="-1" Prefix="" WaterMarkFont="" Quality="100" IsGenerate="true"/>
      <Picture Width="-290" Prefix="290x140_0_" Height="140" WaterMarkFont=""/>
    </BlogAd2>
    <BlogAd3 Text="专栏公告3" Format=".jpg" LimitWidth="290" LimitHeight="240" MaxSize="50"  FormatFolder=""  Alt="生成：无水印">
      <Picture Width="-1" Prefix="" WaterMarkFont="" Quality="100" IsGenerate="true"/>
      <Picture Width="-290"  Prefix="290x240_0_" Height="240" WaterMarkFont=""/>
    </BlogAd3>
    <BlogTag Text="专栏标签" Format=".jpg" LimitWidth="400" LimitHeight="300" MaxSize="50"  FormatFolder=""  Alt="生成：无水印">
      <Picture Width="-1" Prefix="" WaterMarkFont="" Quality="100" IsGenerate="true"/>
      <Picture Width="-400" Prefix="400x300_0_" Height="300" WaterMarkFont=""/>
    </BlogTag>
    <BlogWww Text="专栏推荐www" Format=".jpg" LimitWidth="80" LimitHeight="60" MaxSize="5" FormatFolder=""  Alt="生成：无水印">
      <Picture Width="-1" Prefix="" WaterMarkFont="" Quality="100" IsGenerate="true"/>
    </BlogWww>
    <BlogWww1 Text="专栏推荐www(新)" Format=".jpg" LimitWidth="120" LimitHeight="90" MaxSize="10" FormatFolder=""  Alt="生成：无水印">
      <Picture Width="-1" Prefix="" WaterMarkFont="" Quality="100" IsGenerate="true"/>
    </BlogWww1>
    <BlogWeixinQr Text="说客作者微信二维码" FormatFolder="" Format=".jpg,.png,.bmp" Alt="生成：无水印">
      <Picture Width="-1" Prefix="" WaterMarkFont="" Quality="100" IsGenerate="true"/>
      <Picture Width="-200"  WaterMarkFont="" Quality="100"/>
    </BlogWeixinQr>
    <!-- 导流图 -->
    <DiversionFigure LimitWidth="480" LimitHeight="150" Text="导流图" Format=".jpg" MaxSize="80" Alt="生成：无水印（150）">
      <Picture Width="-480" Height="150" Prefix="480x150_1_" WaterMarkFont="" IsGenerate="true"/>
    </DiversionFigure>

    <!-- 视频专辑封面 -->
    <VideoAlbum LimitWidth="250" LimitHeight="334" Text="视频专辑" Format=".jpg" MaxSize="80" Alt="生成：无水印（180）">
      <Picture Width="-1" Prefix="" WaterMarkFont="" Quality="100" IsGenerate="true"/>
      <Picture Width="-180"  Prefix="180x240_0_" Height="240" WaterMarkFont=""/>
    </VideoAlbum>
    <!-- 视频专辑（400*300图） -->
    <VideoAlbum2 LimitWidth="400" LimitHeight="300" Text="视频专辑" Format=".jpg" MaxSize="50" Alt="生成：无水印（180）">
      <Picture Width="-1"  Prefix="400x300_0_"  WaterMarkFont="" Quality="100" IsGenerate="true"/>
    </VideoAlbum2>

    <Auto2013 Text="广州车展" LimitWidth="80" LimitHeight="60">
      <Picture Width="-1" Prefix="" WaterMarkFont="" Quality="100" IsGenerate="true"/>
      <Picture Width="1" Prefix="" Quality="100"/>
      <Picture Width="-1" Prefix="" WaterMarkFont="" Quality="100"/>
      <Picture Width="-80" Height="60" WaterMarkFont=""/>
    </Auto2013>

    <VideoCWordPicDetail Text="视频关联词详情页" FormatFolder="" Format=".jpg,.gif,.jpeg,.png" Alt="生成：无水印（150）" LimitWidth="690" LimitHeight="90">
      <Picture Width="-1" Prefix="" WaterMarkFont="" Quality="100" IsGenerate="true"/>
      <Picture Width="-690" Height="90" WaterMarkFont=""/>
    </VideoCWordPicDetail>
    <VideoCWordPicTopic Text="视频关联词专题页" FormatFolder="" Format=".jpg,.gif,.jpeg,.png" Alt="生成：无水印（150）" LimitWidth="690" LimitHeight="90">
      <Picture Width="-1" Prefix="" WaterMarkFont="" Quality="100" IsGenerate="true"/>
      <Picture Width="-690" Height="90" WaterMarkFont=""/>
    </VideoCWordPicTopic>

    <!--2014北京车展-->
    <MChezhan Text="2014北京车展" LimitWidth="640" limitHeight="480" Format=".jpg" FormatFolder="" Alt="原图无水印">
      <Picture Width="-1" Prefix="" WaterMarkFont="" Quality="100" IsGenerate="true"/>
    </MChezhan>
    <!--2014北京车展视频小图-->
    <MChezhanVideo Text="2014北京车展-视频" LimitWidth="400" limitHeight="225" Format=".jpg" FormatFolder="" Alt="原图无水印">
      <Picture Width="-1" Prefix="" WaterMarkFont="" Quality="100" IsGenerate="true"/>
    </MChezhanVideo>

    <!--车展汇总图片-->
    <ExpositionCollect Text="车展汇总图片" LimitWidth="488" LimitHeight="200"  Format=".jpg"  MaxSize="80" FormatFolder="" Alt="生成：无水印（448）">
      <Picture Width="-1" Prefix="" WaterMarkFont="" IsGif="true" Quality="100" IsGenerate="true"/>
      <Picture Width="-488" WaterMarkFont=""/>
    </ExpositionCollect>

    <!--文章页应用推荐编辑-->
    <AppRecommend Text="文章页应用推荐编辑" LimitWidth="65" LimitHeight="65"  Format=".jpg,.gif,.png"  MaxSize="5" FormatFolder="zx/newspic/AppRecommend/" Alt="原图无水印">
      <Picture Width="-1" Prefix="" WaterMarkFont="" IsGif="true" Quality="100" IsGenerate="true"/>
    </AppRecommend>

    <!--APP头条推荐-->
    <AppRecommendTop Text="APP头条推荐" LimitWidth="400" LimitHeight="300"  Format=".jpg,.gif,.png"  MaxSize="50" FormatFolder="zx/newspic/AppRecommendTop/" Alt="原图无水印">
      <Picture Width="-1" Prefix="" WaterMarkFont="" IsGif="true" Quality="100" IsGenerate="true"/>
    </AppRecommendTop>

    <!--游记标签-->
    <TravelTagFirst Text="游记标签" LimitWidth="190" LimitHeight="190"  Format=".jpg"  MaxSize="20" FormatFolder="" Alt="原图无水印">
      <Picture Width="-1" Prefix="" WaterMarkFont="190x190_0_" IsGif="true" Quality="100" IsGenerate="true"/>
    </TravelTagFirst>
    <TravelTagThird Text="游记标签" LimitWidth="390" LimitHeight="390"  Format=".jpg"  MaxSize="50" FormatFolder="" Alt="原图无水印">
      <Picture Width="-1" Prefix="390x390_0_" WaterMarkFont="" IsGif="true" Quality="100" IsGenerate="true"/>
    </TravelTagThird>
 
    <!--车型评分-->
    <AutoEvaluate Text="车型评分"  Format=".jpg,.gif,.jpeg,.png" FormatFolder="" Alt="原图无水印">
      <Picture Width="-1" Prefix="" WaterMarkFont="" Quality="100" IsGenerate="true"/>
      <Picture Width="-150" Prefix="150x0_0_" WaterMarkFont=""/>
    </AutoEvaluate>
  <BroadcastList Text="快报列表页封面图" LimitWidth="1024" LimitHeight="512"  Format=".jpg"  MaxSize="525" FormatFolder="" Alt="生成：无水印（448）">
      <Picture Width="-1" Prefix="" WaterMarkFont="" IsGif="true" Quality="100" IsGenerate="true"/>
    </BroadcastList>
    <BroadcastContent Text="快报内容页封面图片" LimitWidth="1024" LimitHeight="768"  Format=".jpg"  MaxSize="525" FormatFolder="" Alt="生成：无水印（448）">
      <Picture Width="-1" Prefix="" WaterMarkFont="" IsGif="true" Quality="100" IsGenerate="true"/>
    </BroadcastContent>

    <!--说客：blog.autohome.com.cn-->
    <BlogArticleOrig Text="文章代表图原图" LimitWidthHeight="Min" LimitWidth="160" LimitHeight="120"  FormatFolder="" Format=".jpg,.png"  Alt="生成：无水印">
      <Picture Width="-1" Prefix="" WaterMarkFont="" Quality="100"  IsGenerate="true"/>
      <Picture Width="-400" Prefix="400x0_0_" WaterMarkFont="" IsActualProperty="true" Quality="100"/>
    </BlogArticleOrig>
    <BlogArticle Text="文章代表图" Format=".jpg,.png" FormatFolder=""  Alt="生成：无水印">
      <Picture Width="-1" Prefix=""  WaterMarkFont="" Quality="100" IsGenerate="true"/>
      <Picture Width="-160" Prefix="160x120_0_" Height="120" WaterMarkFont="" Quality="100"/>
    </BlogArticle>
    <!--<BlogArticleEdit Text="专栏文章代表图" Format=".jpg" LimitWidth="400" LimitHeight="300" MaxSize="50" FormatFolder="zx/Blog/Article/$Year/$Month/$Day/"  Alt="生成：无水印">
      <Picture Width="-1" Prefix="" WaterMarkFont="" Quality="100" IsGenerate="true"/>
      <Picture Width="-400" Height="300" WaterMarkFont=""/>
      <Picture Width="-160" Height="120" WaterMarkFont=""/>
      <Picture Width="-120" Height="90" WaterMarkFont=""/>
    </BlogArticleEdit>-->
    <TouXiang Text="作者头像" MaxSize="400" FormatFolder=""  Alt="生成：无水印">
      <Picture Width="-1" Prefix="" WaterMarkFont="" Quality="100" IsGenerate="true" />
    </TouXiang>
    <CutTouXiang Text="截作者头像" FormatFolder=""  Alt="生成：无水印">
      <Picture Width="-1"  Prefix="" WaterMarkFont="" IsCompute="true" IsGenerate="true"/>
      <Picture Width="-200"  Prefix="200x0_0_" WaterMarkFont="" IsCompute="true" />
    </CutTouXiang>
    <ArticleContent Text="文章图片" MaxSize="20480" FormatFolder="zx/Blog/Content/$Year/$Month/$Day/" ItemType="1" Format=".jpg,.png,.bmp" Alt="生成：有水印原图、无水印原图">
      <Picture Width="-1" Prefix=""  WaterMarkFont="" Quality="100" IsGenerate="true"/>
      <Picture Width="-1280" Prefix="1280x0_0_"  WaterMarkFont="" Quality="100"/>
      <Picture Width="-620" Prefix="620x0_0_" IsActualProperty="true" Quality="80" MinWidthWaterSize="300" MinHeighWaterSize="300"/>
    </ArticleContent>
    <ArticleContentEdit Text="文章图片" MaxSize="20480" FormatFolder="" ItemType="1" Format=".jpg,.png,.bmp" Alt="生成：有水印原图、无水印原图">
      <Picture Width="-620" Prefix="" IsActualProperty="true" Quality="80" IsGenerate="true"/>
    </ArticleContentEdit>
    <WeixinQr Text="微信二维码" FormatFolder="" Format=".jpg,.png,.bmp" Alt="生成：无水印">
      <Picture Width="-1" Prefix=""  WaterMarkFont="" Quality="100" IsGenerate="true"/>
      <Picture Width="-200"  Prefix="200x0_0_" WaterMarkFont="" Quality="100" />
    </WeixinQr>

    <APPBroadcastMessage Text="播报图片" ItemType="2" FormatFolder="" Alt="生成：原图、120x90无水印">
      <Picture Width="-1" Prefix="" IsActualProperty="true"  WaterMarkFont="" Quality="100" IsGenerate="true"/>
      <Picture Width="620"  Prefix="" IsActualProperty="true" InsertDataSize="true" DataMaxSize="1"/>
    </APPBroadcastMessage>

    <!--首页车展横切推荐-->
    <AutoShowRecommend Text="首页车展横切推荐" LimitWidth="400" LimitHeight="300"  Format=".jpg"  MaxSize="20" FormatFolder="" Alt="原图无水印">
      <Picture Width="-1" Prefix="" WaterMarkFont="" IsGif="true" Quality="100" IsGenerate="true"/>
    </AutoShowRecommend>

    <!--编辑用户-->
    <UserEditor Text="编辑用户" LimitWidth="160" LimitHeight="190"  Format=".jpg"  MaxSize="10" FormatFolder="" Alt="原图无水印">
      <Picture Width="-1" Prefix="160x190_0_" WaterMarkFont="" IsGif="true" Quality="100" IsGenerate="true"/>
    </UserEditor>
    <!--图片文本推荐-->
    <PictureTextRecommend Text="图片文本推荐" LimitWidth="90" LimitHeight="90"  Format=".jpg"  MaxSize="10" FormatFolder="" Alt="原图无水印">
      <Picture Width="-1" Prefix="" WaterMarkFont="" IsGif="true" Quality="100" IsGenerate="true"/>
    </PictureTextRecommend>
    <!--图文文章封面图-->
    <ArticleGraphicCover Text="图文文章封面图" LimitWidth="400" LimitHeight="300"  Format=".jpg"  MaxSize="50" FormatFolder="" Alt="原图无水印">
      <Picture Width="-1" Prefix="" WaterMarkFont="" IsGif="true" Quality="100" IsGenerate="true"/>
      <Picture Width="-400"  Prefix="400x300_0_"  Height="300" WaterMarkFont=""/>
    </ArticleGraphicCover>
    <!--M专题头图-->
    <ArticleTopic Text="M专题头图" LimitWidth="1280" LimitHeight="480"  Format=".jpg"  MaxSize="1200" FormatFolder="" Alt="原图无水印">
      <Picture Width="-1" Prefix="" WaterMarkFont="" IsGif="true" Quality="100" IsGenerate="true"/>
    </ArticleTopic>
    <!--金山推荐图片-->
    <KingRecomm Text="金山推荐图片" LimitWidth="240" LimitHeight="90"  Format=".jpg"  MaxSize="25" FormatFolder="" Alt="原图无水印">
      <Picture Width="-1" Prefix="" WaterMarkFont="" IsGif="true" Quality="100" IsGenerate="true"/>
    </KingRecomm>

  </UploadPictureSetting>
  <PictureItemType>
    <ItemType Value="1">资讯</ItemType>
    <ItemType Value="2">播报图片</ItemType>
  </PictureItemType>
</configuration>


<!--<NewBrand Text="新上市车图片" LimitWidth="4" LimitHeight="3" IsProportion="true" Format=".jpg,.gif,.jpeg,.png" Alt="生成：无水印（400、240、160、120、80）">
  <Picture Width="-1" Prefix="" WaterMarkFont="" Quality="100" IsGenerate="true"/>
  <Picture Width="-400" Prefix="400x300_0_" Height="300" WaterMarkFont=""/>
</NewBrand>
LimitWidth:最新宽度。
LimitHeight：最小高度
IsProportion=true。根据最小宽高，检查图片是否成比例。如果没有设置 最小宽高。会报错。



-->